body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.menu-items {
    display: flex;
    background-color: #f1c988;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}
.menu-container {
    padding: 20px;
    flex: 1;
}
.menu-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: cursive;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #0f0e0e;
}
.a{
    text-align: center;
}
.menu-image {
    flex: 1;
    background: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
}