html {
    height: 100%;
    margin: 0;
    background-image: url('/Proyecto_HojaDeVida/Img/Fuji.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    border: 1px;
    border-radius: 9px;
    filter: drop-shadow(4px 4px 4px 4px #000); 
    padding: 2rem;
    width: 100%;
    max-width: 420px;
    text-align: center;
}


/*propiedades de image dentro de card*/
.card-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
    filter: drop-shadow(4px 4px 4px 4px #000); 
}

/*propiedades de button dentro del sign*/
.sign-in-button {
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    opacity: 0.9;
    font-family: Arial, sans-serif;;
}

.sign-in-button:hover {
    background-color: #3a7bc8;
}

/*Cambios para responsividad en dispositivos moviles*/

@media (max-width: 600px) {
    .card {
        width: 90%; /* tamaño de tarjetas */
    }

    .sign-in-button {
        font-size: 1rem; /* tamaño de botones */
        padding: 0.8rem 1.5rem; /* ajuste de padding pantalla */
    }

    .card-image {
        width: 150px; /* Reduccion de imagen mas pequeña */
        height: 150px;
    }
}